@media screen and (min-width: 35rem) {
    /* HEADER */
    header h1 {font-size: 1.8rem}
    header .logo img {width: 50%;}
    header .social-media a img {width: 100%;}
    nav button {
        display: none;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        border-left: 1px solid gray;
        justify-content: center;
        align-items: center;
    }
    nav ul li a {
        border: none;
    }

    /* FOOTER */
    footer {
        grid-template-columns: 1fr 1fr;
    }
    footer h2 {
        font-size: 1.55rem;
    }
    footer .title {
        grid-column: 1;
    }
    footer .contact-info1 {
        grid-column: 2;
        grid-row: 1/3;
        display: flex;
        flex-direction: row;
        padding-bottom: 0;
    }
    footer .address, footer .phone, footer .email {
        font-size: .8rem;
        padding: .5rem;
    }
    footer .my-info {
        grid-column: 1/3;
        grid-row: 4;
    }

    /* HOME - main */
    .home-main {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .home-main .area-info {
        grid-column: 1/3;
        grid-row: 1;
    }
    .home-main .calltoaction {
        grid-column: 1;
        grid-row: 2;
    }
    .home-main .drinks {
        grid-column: 2;
        grid-row: 2;
    }

    .home-main .weather {
        grid-column: 1/3;
        grid-row: 3;
    }

}