body {
    text-align: center;
    font-size: 16px;
}
/* HEADER */
header {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    background-color: #DD0426;
    font-family: 'Signika Negative', sans-serif;
    padding-top: .5rem;
}
header .logo {
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 1rem;
    width: 100%;
}
header .logo img {width: 70%;}
header h1 {
    grid-column: 2;
    color: white;
    text-align: left;
    margin: .3rem;
    font-size: 1.35rem;
}
header .social-media {
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: right;
}
header .social-media a {margin: .5rem;}
header .social-media a img {width: 85%;}
nav {
    grid-column: 1/4;
    grid-row: 2;
    background-color: #F02D3A;
    margin-top: 1rem;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul {display: none;}
nav ul.open {display: block;}
nav ul li a {
    display: block;
    padding: .8rem;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
nav button {
    margin: .2rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white;
}
#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}