body {
    text-align: center;
    font-size: 16px;
}
/* HEADER */
header {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    background-color: #DD0426;
    font-family: 'Signika Negative', sans-serif;
    padding-top: .5rem;
    margin-bottom: 2rem;
}
header .logo {
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 1rem;
    width: 100%;
}
header .logo img {width: 70%;}
header h1 {
    grid-column: 2;
    color: white;
    text-align: left;
    margin: .3rem;
    font-size: 1.35rem;
}
header .social-media {
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: right;
}
header .social-media a {
    margin: .5rem;
    transition: transform .1s;
}
header .social-media a:hover {transform: scale(1.1);}
header .social-media a img {width: 85%;}
nav {
    grid-column: 1/4;
    grid-row: 2;
    background-color: #F02D3A;
    margin-top: 1rem;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul {display: none; padding-bottom: .2rem;}
nav ul.open {display: block;}
nav ul li a {
    display: block;
    padding: .8rem;
    text-decoration: none;
    color: black;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    transition: transform .1s;
}
nav ul li a:hover, .active {
    background-color: #DD0426;
    color: white;
    transform: scale(1.1);
}
.active > a {color: white;}
nav button {
    margin: .2rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white;
}
#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

/* FOOTER */
footer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #DD0426;
    font-family: 'Montserrat', sans-serif;
    margin-top: 2rem;
    font-size: .85rem;
}
footer h2 {
    grid-column: 2;
    font-family: 'Signika Negative', sans-serif;
    color: white;
    text-align: center;
    margin: .3rem;
    font-size: 1.25rem;
}
footer .address, footer .phone, footer .email {
    color: black;
    background-color: white;
    padding: .25rem;
    border-radius: 10px;
    border: 1px solid black;
    margin: .3rem;
    font-size: .9rem;
    font-weight: bold;
}
footer .address {transition: transform .1s;}
footer .address:hover{transform: scale(1.03);}
footer .contact-info1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: .5rem;
}
footer .my-info {
    background-color: #F02D3A;
    border-top: 1px dashed white;
    color: black;
    font-size: .8rem;
}
footer .my-info p {
    margin: .3rem;
}

/* HOME - hero */
body main .calltoaction {
    position: relative;
    padding: 0;
    background-color: #F02D3A;
}
.calltoaction img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-main a {
    position: absolute;
    right: 1rem;
    bottom: 1.5rem;
    background-color: white;
    padding: .8rem;
    text-decoration: none;
    border-radius: 50px;
    color: black;
    box-shadow: 3px 3px 5px 1px #333;
    transition: transform .1s;
    font-weight: bold;
}
.home-main a:hover {transform: scale(1.05);}

/* HOME - main */
.home-main {
    font-family: 'Montserrat', sans-serif;
}
.home-main > div {
    background-color: #F8A0A7;
    margin: 1rem;
    padding: 1rem 1rem;
    text-align: center;
    border: 1px solid black;
    box-shadow: 3px 3px 5px 1px gray;
}
.home-main > div > h2 {
    margin: 0 0 1rem 0;
    font-family: 'Signika Negative', sans-serif;
    color: black;
    text-shadow: 0 1px 1px gray, 0 1px 1px gray;

}

/* HOME - weather */
.weather {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem .5rem 1rem .5rem;
}
#current-weather {
    display: grid;
    grid-template-columns: 1fr;
    border: 2px dashed black;
    border-radius: 10px;
    padding: .2rem;
}
#current-weather h3 {
    grid-column: 1;
    grid-row: 1;
    margin: .3rem 0 1rem 0;
}
#current-weather #current-weather-img {
    grid-column: 1;
    grid-row: 2;
}
#current-weather-img img, .forecast-weather img {
    background-color: #F02D3A;
    border-radius: 50px;
    border: 1px solid black;
}
#current-weather-section {
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}
#current-weather-section p, .forecast-weather .forecast-section p {
    margin: .15rem;
    padding: .1rem .7rem .1rem .7rem;
    background-color: #DD0426;
    color: white;
    border: 1px solid black;
    border-radius: 20px 0 20px 0;
}
.forecast-weather {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px dashed black;
    border-radius: 10px;
    margin-top: .5rem;
    padding: .2rem;
}
.forecast-card {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 .3rem 0 .3rem;
}
.forecast-card h3 {margin: .3rem 0 1rem 0; color: black;}

/* FRESH */
form {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form fieldset {
    margin: .5rem 0;
    border: 2px solid black;
    border-radius: 4px;
    padding: 1rem;
    width: 75%;
    background-color: #F8A0A7;
}
form legend {
    padding: .3rem .7rem;
    margin: 0 1rem;
    background-color: #DD0426;
    color: white;
    border-radius: 0 20px 0 20px;
    border: 1.5px solid black;
}
form .text {
    background-color: white;
    padding: .1rem .3rem .05rem .3rem;
    border-radius: 10px 10px 0 0;
}
form label.top, form div {
    display: block;
    padding-top: 1.7rem;
    font-size: 1rem;
}
form label.top input, form label.top textarea {
    display: block;
    font-size: 1rem;
    border: solid 2px black;
    border-radius: 3px;
    padding: 1rem;
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    background-color: white
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    font-size: 1rem;
}
form input.submitBtn {
    border: none;
    display: block;
    font-size: 1.2rem;
    border: solid 2px black;
    background-color: #DD0426;
    color: white;
    padding: .75rem 1.5rem;
    width: 96%;
    max-width: 15rem;
    border-radius: 1rem;
}
form input.submitBtn:hover {
    background-color: rgba(137, 178, 192, .9);
}
form label.top input:required {
    border-left: #DD0426 solid 6px;
}
form label.top input:required:valid {
    border-left: green solid 6px;
}
form div select {
    display: block;
    font-size: 1rem;
    border: solid 2px black;
    border-radius: 3px;
    padding: .5rem;
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    background-color: white;
    margin: 1rem 0 1rem 0;
}


/* If any screen is wider than 400px, so it doesn't break weather section */
@media screen and (min-width: 0px) and (max-width: 400px) {
    .weather #current-weather, #current-weather-section {
        display: flex;
        flex-direction: column;
    }
   .forecast-weather {
    flex-direction: column;
   }
}

